
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+25&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.arial {
  font-family: "D", "sans-serif";
}
.heart {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  font-size: 16px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}
.heart:hover{
    color: #f00;
}
.CharterItc{
    
    font-family: 'Inter', sans-serif;
    line-height: 22px;
   
    
}

