@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=XCharter&display=swap');

.charter{
  font-family: 'XCharter', serif;
  font-size: 24px;
  font-weight: 700;
}
.InterAboutWine{
    font-family: 'Inter', serif;
    font-weight: 300;
    font-size: 15px;
}